<!DOCTYPE html>

</html>

<head>
    <title>Parking System</title>
    <link href="/../css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/../js/all.js"></script>
</head>

<body>
    <div id="wrapper">
        <div class="page-header">
            <h2>
                <%=page_title%>
            </h2>
            <div class="top-nav">
                <ul class="nav">
                    <li>
                        <div class="data-btn">
                            <button onClick="customers();">Customers</button>
                        </div>
                    </li>
                    <li>
                        <div class="data-btn">
                            <button onClick="parkingTicket();">Tickets</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-container">